.menugroup {
  .pf-v6-c-menu__group-title {
    display: none;
  }
}

.labeled-dropdown-field {
  .title {
    font-weight: var(--pf-t--global--font--weight--heading--bold);
    font-size: var(--pf-v6-c-form__label--FontSize);
    line-height: var(--pf-v6-c-form__label--LineHeight);
    gap: var(--pf-t--global--spacer--xs);
    margin-bottom: var(--pf-t--global--spacer--sm);
  }

  .component-select-menu {
    margin-bottom: var(--pf-t--global--spacer--xs);
  }

  .help-text {
    font-size: var(--pf-t--global--font--size--sm);
    font-style: {color: var(--pf-v6-c-helper-text__item-icon--m-indeterminate--Color)};
  }
}
