.vertical-cell-align {
  align-self: center;
}

.error-button {
  margin-left: var(--pf-v5-global--spacer--3xl);
}

.secret-label {
  margin: var(--pf-v5-global--spacer--xs);
}

.secret-labels-toggle {
  margin: 0;
}
