# Logs
./logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
build/
dist/
dist-ssr/
out/

# Coverage reports
coverage/

# Environment files
.env*

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
Thumbs.db

# TypeScript
*.tsbuildinfo

# Miscellaneous
*.tgz
package-lock.json
yarn.lock

# Generated reports
*.lcov
*.lcov-report/

# Ignore Cypress screenshots/videos
cypress/screenshots/
cypress/videos/

# Ignore Jest cache
jest-cache/

# Ignore storybook static build
storybook-static/
