.conforma-results-toolbar {
  &__last-checked {
    color: var(--pf-v5-global--Color--200);
    white-space: nowrap;
  }

  &__refresh-button--highlighted {
    color: var(--pf-v5-global--warning-color--100);
  }
}
