.conforma-results-tab {
  &__summary-wrapper {
    margin-top: var(--pf-t--global--spacer--md);
  }

  &__detail-table tbody > tr > td {
    vertical-align: top;
  }
}

.conforma-summary-bar {
  &__section {
    border: 1px solid var(--pf-t--global--border--color--default);
    border-radius: var(--pf-t--global--border--radius--small);
    padding: var(--pf-t--global--spacer--md) var(--pf-t--global--spacer--lg);
  }
}
