.user-access-change-role-modal__user-list {
  margin-left: var(--pf-t--global--spacer--md);
}

.user-access-change-role-modal__role-label {
  margin-bottom: var(--pf-t--global--spacer--xs);
}

.user-access-list-view__toolbar-divider {
  padding-top: var(--pf-t--global--spacer--md);
}
