.konflux-banner-fixed {
  background-color: var(--pf-global--BackgroundColor--100);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  width: 100%;
  font-size: smaller !important;
  overflow: hidden;
  max-height: 1000px;
  transition: max-height 0.3s ease;
}


.konflux-banner-fixed.collapsed {
  max-height: 4px;
}

.konflux-banner-fixed.collapsed:hover {
  max-height: 1000px;
}

.konflux-banner-content {
  padding: 8px 16px;
}

.banner-inline-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.banner-toggle-button {
  font-size: smaller;
  white-space: nowrap;
  padding-left: 0.5rem;
}

.konflux-banner-footer {
  margin-top: 1rem;
  font-size: 0.75rem;
  text-align: left;
}