.latest-issues-card {
  &__list {
    margin-bottom: var(--pf-v5-global--spacer--xl);
    .pf-v5-c-list__item:not(:last-child) {
      margin-bottom: var(--pf-v5-global--spacer--xl);
      padding-bottom: var(--pf-v5-global--spacer--md);
    }
  }

  &__item {
    padding: 0;
    margin-bottom: var(--pf-v5-global--spacer--lg);
  }

  &__icon-container {
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
  }

  &__content {
    min-width: 0;
  }

  &__icon {
    font-size: var(--pf-v5-global--FontSize--md);
  }

}
