.issues-list-view {
  &__gs-image {
    &.getting-started-card__img {
      width: 9ch;
      min-width: unset !important;
      padding-top: var(--pf-v5-global--spacer--xl);
      padding-left: var(--pf-v5-global--spacer--xl);
    }
  }
  &__meta {
    display: flex;
    flex-direction: column;
    gap: var(--pf-v5-global--spacer--sm);
    &--time {
      align-items: center;
      display: flex;
      gap: var(--pf-v5-global--spacer--xs);
    }
  }
  &__actions {
    padding-right: 0;
  }
  &__row-actions {
    display: flex;
    justify-content: flex-end;
  }
  &__expanded-row {
    padding: var(--pf-v5-global--spacer--md);
  }
}
