.app-details {
  flex-grow: 1;

  &__tabs {
    display: flex;
    flex-direction: column;

    &__tabItem {
      position: relative;
      &.isFilled.pf-v5-c-tab-content {
        flex: 1;
      }
    }
  }

  .details__back-link {
    color: var(--pf-v5-global--link--Color);
  }
}
