:root {
  --konflux-banner-height: 0px; /* default: no banner */
}

#konflux-banner ~ .pf-v6-c-page {
  height: calc(100vh - var(--konflux-banner-height)) !important;
}

.pf-v6-c-page__main-container {
  align-self: stretch;
}
