.pipelinerun-node {
  cursor: pointer;
  &__test-status-badge {
    &--failed {
      > rect {
        fill: var(--pf-t--global--color--status--danger--default);
        stroke: var(--pf-t--global--text--color--on-brand--default);
      }
      > text {
        fill: var(--pf-t--global--text--color--on-brand--default);
      }
    }
    &--warning {
      > rect {
        fill: var(--pf-t--global--color--status--warning--default);
        stroke: var(--pf-t--global--text--color--on-brand--default);
      }
      > text {
        fill: var(--pf-t--global--text--color--regular);
      }
    }
  }
  &__tooltip {
    &.pf-v6-c-tooltip {
      max-width: 350px;
    }
    &--content {
      color: var(--pf-t--global--text--color--on-brand--default);
      display: flex;
      flex-direction: column;
      gap: var(--pf-t--global--spacer--sm);
    }
    &--title {
      font-size: var(--pf-t--global--font--size--sm);
      font-weight: var(--pf-t--global--font--weight--heading--bold);
    }
    &--step {
      align-items: flex-start;
      display: grid;
      grid-template-columns: auto 1fr auto;
      gap: var(--pf-t--global--spacer--sm);
      &-name {
        text-align: left;
      }
      &-icon {
        .pf-m-running,
        .pf-m-in-progress,
        .pf-m-pending,
        .pf-m-idle {
          color: var(--pf-t--global--border--color--default);
        }
        .pf-m-skipped {
          color: var(--pf-t--global--text--color--subtle);
        }
      }
    }
  }
}
