.name-value-list {
  &__value {
    overflow-wrap: anywhere;
  }
  &.m-compressed {
    .pf-m-grid-md.pf-v6-c-table {
      display: grid;
      grid-template-columns: 1fr;
      height: auto;
      grid-auto-columns: max-content;
      grid-column-gap: var(--pf-v6-c-table-tr--responsive--GridColumnGap);

      > thead {
        display: none;
      }

      tbody:first-of-type {
        border-top: var(--pf-v6-c-table--tbody--responsive--border-width--base) solid
          var(--pf-v6-c-table--responsive--BorderColor);
        position: relative;
        display: block;
      }

      tr:not(.pf-v6-c-table__expandable-row) {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
        grid-auto-columns: max-content;
        grid-column-gap: var(--pf-v6-c-table-tr--responsive--GridColumnGap);
        padding: var(--pf-v6-c-table-tr--responsive--PaddingTop)
          var(--pf-v6-c-table-tr--responsive--PaddingRight)
          var(--pf-v6-c-table-tr--responsive--PaddingBottom)
          var(--pf-v6-c-table-tr--responsive--PaddingLeft);
        border-bottom: var(--pf-v6-c-table-tr--responsive--border-width--base) solid
          var(--pf-v6-c-table--responsive--BorderColor);

        > * {
          padding: var(--pf-v6-c-table--cell--responsive--PaddingBlockStart)
            var(--pf-v6-c-table--cell--responsive--PaddingInlineEnd)
            var(--pf-v6-c-table--cell--responsive--PaddingBlockEnd)
            var(--pf-v6-c-table--cell--responsive--PaddingInlineStart);
        }

        > *:first-child {
          --pf-v6-c-table--cell--responsive--PaddingBlockStart: var(
            --pf-v6-c-table--cell--first-child--responsive--PaddingBlockStart
          );
          --pf-v6-c-table--cell--PaddingInlineStart: 0;
        }
      }
    }
  }
}
