.section-wrapper {
  margin-top: 10px;
}

.section-content {
  padding-left: 12px;
}

.array-list {
  padding-left: 20px;
  margin-top: 8px;
}

.array-item {
  margin-bottom: 8px;
}

.array-object-entry {
  display: flex;
  align-items: flex-start;
  margin-top: 4px;
}

.array-object-entry:first-child {
  margin-top: 0;
}

.entry-bullet {
  width: 20px;
}
.entry-bullet[data-first='true']::before {
  content: '-';
}

.entry-value {
  flex: 1;
}

.array-simple-entry {
  display: flex;
  gap: 4px;
}

.key-value-line {
  margin-top: 10px;
}
