@import '../../shared/style/vars';

.build-secret-modal {
  width: 40%;

  @media screen and (max-width: $pf-v6-global--breakpoint--xl) {
    width: 60%;
  }

  @media screen and (max-width: $pf-v6-global--breakpoint--md) {
    width: 100%;
  }
}
