.workload-node {
  cursor: pointer;
  &.m-disabled {
    > .pf-topology-pipelines__pill-background {
      fill: var(--pf-t--global--background--color--secondary--default);
    }
    .pf-topology-pipelines__pill-text {
      fill: var(--pf-t--global--text--color--disabled);
    }
  }
  &__popover {
    .pf-v6-c-popover__content, .pf-v6-c-popover__body {
      padding: 0;
    }
  }
}
