.intro-banner {
  background: linear-gradient(90deg, var(--banner-gradient, white) 0%, var(--banner-gradient, white) 40%, var(--banner-gradient-end, #D1D1D1) 100%);

  &__content {
    background-color: transparent;
    box-shadow: none;
  }


  &__cta {
    margin-top: var(--pf-v5-global--spacer--sm);
    margin-right: var(--pf-v5-global--spacer--md);

    & + &__cta {
      margin-right: none;
    }
  }
}


:root {
  --banner-gradient: var(--pf-v5-global--BackgroundColor--100);
  --banner-gradient-end: #D1D1D1;
}

html.pf-v5-theme-dark {
  --banner-gradient-end: #404040;

  .intro-banner path  {
    stroke: var(--pf-v5-global--icon--Color--dark);
  }
}
