.log-viewer {
  &--fullscreen {
    padding: var(--pf-v5-global--spacer--sm);
  }

  &__icon {
    margin-right: var(--pf-v5-global--spacer--xs);
  }

  &__divider {
    color: var(--pf-v5-global--palette--black-600);
    margin: 0 var(--pf-v5-global--spacer--sm);
    align-self: center;
  }
  &__divider.pf-v5-c-divider {
    height: var(--pf-v5-global--spacer--md);
  }

  &__button {
    margin-right: 0;
  }

  &__container {
    position: relative;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    max-height: 100% !important;
    display: flex;
    flex-direction: column;
  }

  &__task-name {
    min-width: 0;
  }

  &__content {
    min-height: 0;
    flex: 1;
  }

  &__resume-stream-button-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
}

.pf-v5-c-log-viewer {
  .pf-v5-c-log-viewer__list {
    overflow-x: hidden !important;
    width: 100% !important;
  }
  &__main {
    margin-bottom: var(--pf-v5-global--spacer--md);
    height: 100% !important;
  }

  &__scroll-container {
    overflow-y: visible !important;
  }
}
