.code-editor-shortcut {
  &__cell {
    padding-bottom: var(--pf-v5-global--spacer--sm);

    &:first-child {
      padding-right: var(--pf-v5-global--spacer--md);
      text-align: right;
      white-space: nowrap;
      vertical-align: top;
    }
  }

  &__command:not(:last-child):after {
    content: ' + ';
  }

  &__kbd {
    border: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
    border-radius: 3px;
    font-size: var(--pf-v5-global--FontSize--xs);
    padding: 3px 2px;
  }
}
