.form-footer {
  padding: var(--pf-t--global--spacer--md) (--pf-t--global--spacer--gutter--default/2);
  @media (min-width: 768px) {
    padding: var(--pf-t--global--spacer--md) (--pf-t--global--spacer--gutter--default);
  }
  &__sticky {
    position: sticky;
    background: var(--pf-t--global--background--color--primary--default);
    bottom: 0;
  }
  &__shadow {
    box-shadow: var(--pf-t--global--box-shadow--sm--top);
  }

  &__no-top-margin {
    margin-top: 0;
  }
}
